body {
  background-color: #ffebd9;
}

h1{
  color:#204051;
}
h3{
    color: #66BFBF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
